@model Football.App.ViewModels.MatchViewModel

@{
    ViewData["Title"] = "Add Match";
}

<h1>Add Match</h1>

<style>
    /* Skrytí šipek pro vstupní pole typu číslo */
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<form asp-action="AddMatch" method="post">
    <div class="d-flex flex-column flex-md-row align-items-center">
        <div class="col-md-5 col-12 card p-2 m-2">
            <h3>Team 1</h3>
            <div class="form-group">
                <label asp-for="Team1Player1Id" class="control-label">Player 1</label>
                <select asp-for="Team1Player1Id" class="form-control" asp-items="@(new SelectList(Model.AllPlayers, "Id", "Name"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="Team1Player2Id" class="control-label">Player 2</label>
                <select asp-for="Team1Player2Id" class="form-control" asp-items="@(new SelectList(Model.AllPlayers, "Id", "Name"))"></select>
            </div>
        </div>
        <div class="col-md-2 col-12 card p-2 m-2">
            <h4>Score</h4>
            <div class="d-flex flex-row align-items-center mb-2">
                <input asp-for="Score1" class="form-control w-50 text-end" />
                <h4 class="m-2">:</h4>
                <input asp-for="Score2" class="form-control w-50" />
            </div>
            <h4>Date</h4>
            <div class="form-group">
                <input asp-for="Date" class="form-control" type="date" />
            </div>
        </div>
        
        <div class="col-md-5 col-12 card p-2 m-2">
            <h3>Team 2</h3>
            <div class="form-group">
                <label asp-for="Team2Player1Id" class="control-label">Player 1</label>
                <select asp-for="Team2Player1Id" class="form-control" asp-items="@(new SelectList(Model.AllPlayers, "Id", "Name"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="Team2Player2Id" class="control-label">Player 2</label>
                <select asp-for="Team2Player2Id" class="form-control" asp-items="@(new SelectList(Model.AllPlayers, "Id", "Name"))"></select>
            </div>
        </div>
    </div>
    <div class="form-group text-end">
        <input type="submit" value="Add Match" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}