@model IEnumerable<Football.App.ViewModels.MatchViewModel>

@{
    ViewData["Title"] = "Matches";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Latest matches</h1>
    <a href="@Url.Action("AddMatch", "Match")" class="btn btn-primary">New Match</a>
</div>

<partial>
    <partial name="../Components/MatchView" model="Model" />
</partial>
