@model Football.App.ViewModels.RankingViewModel

@{
    ViewData["Title"] = "Ranking";
}
<div>
    <h1>Ranking</h1>
    <partial>
        <partial name="../Components/RankingView" model="Model" />
    </partial>
</div>
