@model Football.App.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Overview";
}

<div class="d-flex flex-lg-row flex-column">
    <div class="col-lg-6 col-12 p-2 m-2 border-top">
        <h2>Current league ranking</h2>
        <partial>
            <partial name="../Components/RankingView" model="Model.Ranking" />
        </partial>
    </div>
    <div class="col-lg-6 col-12 p-2 m-2 border-top">
        <h2>Last matches</h2>
        <partial>
            <partial name="../Components/MatchView" model="Model.LatestMatches" />
        </partial>
    </div>
</div>
