@model Football.App.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Overview";
}

<div class="d-flex">
    <div class="col-md-6 p-2 m-2 border-top">
        <h2>Current league ranking</h2>
        <partial>
            <partial name="../Components/RankingView" model="Model.Ranking" />
        </partial>
    </div>
    <div class="col-md-6 p-2 m-2 border-top">
        <h2>Last matches</h2>
        <partial>
            <partial name="../Components/MatchView" model="Model.LatestMatches" />
        </partial>
    </div>
</div>
